@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

@font-face {
  font-family: 'Inter-Regular';
  src: url('fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Semi-Bold';
  src: url('fonts/static/Inter-SemiBold.ttf') format('truetype');
}


:root {

  --clr-blue: hsl(227, 92%, 58%);
  --clr-gun-metal: hsl(215, 31%, 21%);
  --clr-dark-electric-blue: hsl(215, 17%, 45%);
  --clr-borders: hsl(200, 24%, 88%);
  --clr-pure-white: hsl(0, 0%, 100%);

  --ff-inter-regular: 'Inter-Regular', sans-serif;
  --ff-inter-semibold: 'Inter-Semi-Bold', sans-serif;

  --fs-heading-xl: 4rem;
  --fs-heading-l: 3rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-s: 1.25rem;

  --fw-200: 200;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}


html {
  box-sizing: border-box;
  font-size: 16px;
}

.ff-inter-regular {
  font-family: var(--ff-inter-regular);
}

.ff-inter-semibold {
  font-family: var(--ff-inter-semibold);
}

.fs-heading-xl {
  font-size: var(--fs-heading-xl);
}

.fs-heading-l {
  font-size: var(--fs-heading-l);
}

.fs-heading-m {
  font-size: var(--fs-heading-m);
}

.fs-heading-s {
  font-size: var(--fs-heading-s);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}




.container {
  background: lightgreen;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.input-container {
  position: relative;
}

.input-container::after {
  content: "cm";
  color: #345FF6;
  position: absolute;
  top: 25%;
  right: 1rem;
}

.input-container.active::after {
  content: "inch";
}

.input-box {
  border: 1px solid;
  border-color: #D8E2E7;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  color: hsl(200, 24%, 70%);
}

.input-box:active {
  border: 1px solid #345FF6;
}

.input-box:focus {
  color: black;
}